@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

/* font-family: 'Barlow', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Fraunces', serif;
}

.sunny{
    /* overflow-x: hidden; */
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 30px 0 30px;
    align-items: center;
}

.logo{
    width: 100px;
    height: 27px;
    cursor: pointer;
}
.head-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 4rem;
    list-style: none;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

#cont{
    border-radius: 30px;
    background-color: #fff;
    padding: 10px 30px;
    color: black;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
}

#cont:hover{
    opacity: 0.3;
    color: white;
}
#cont a:hover {
    color: white !important;
}

.we-are{
    display: flex;
    align-items: center;
}

.we-are h1{
    font-family: 'Fraunces', serif ;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    letter-spacing: 4px;
    color: #fff;
    
}

.arrow-down{
    position: absolute;
    top: 45%;
    left: 50%;
    height: 150px;

}


#hamburger{
    display: none;
}

.second-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sec-box1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 600px;
    background-color: #fff;
}
.sec-box2{
    width: 50%;
    height: 600px;
    background-image: url(./assets/desktop/image-transform.jpg);
    background-size: cover;
    background-position: center;
}

.text1 {
    padding-top: 100px;
    padding-left: 100px;
}

.text1 h1{
     margin-bottom: 35px;
     font-size: 30px;
}

.text1 p{
    font-family: 'Barlow', sans-serif;
    margin-bottom: 30px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: hsl(167, 40%, 24%);
}

.text1 h4{
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    font-weight: 600;
}

.text1 h4::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 25%;
    height: 7px;
    background-color: yellow;
    /* z-index: -1; */

}

.third-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.third-box1{
    width: 50%;
    height: 600px;
    background-image: url(./assets/desktop/image-stand-out.jpg);
    background-size: cover;
    background-position: center;
}

.third-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 600px;
    background-color: #fff;
}

.text3 h1{
    margin-bottom: 30px;
    font-size: 35px;
}

.text3 p{
   margin-bottom: 30px;
   width: 100%;
   font-size: 16px;
   font-family: 'Barlow', sans-serif;
   font-weight: 600;
   color: hsl(167, 40%, 24%);
}

.text3 h4{
   text-transform: uppercase;
   font-size: 18px;
   position: relative;
}

.text3 h4::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 30%;
    height: 7px;
    background-color: hsl(7, 99%, 70%);
    /* z-index: -1; */

}

.fourth-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fourth-box1{
    width: 50%;
    height: 600px;
    background-image: url(./assets/desktop/image-graphic-design.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.fourth-box2{
    width: 50%;
    height: 600px;
    background-image: url(./assets/desktop/image-photography.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.text4{
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text4 h1{
    margin-bottom: 30px;
    color: hsl(167, 40%, 24%);
}

.text4 p{
    font-size: 18px;
    color: hsl(167, 40%, 24%);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.textiv{
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.textiv h1{
    margin-bottom: 30px;
   color: hsl(198, 62%, 26%);
}

.textiv p{
    font-size: 18px;
    color: hsl(198, 62%, 26%);
    /* line-height: 5px; */
}

.fifth-box{
    width: 100%;
    height: 600px;
    background-color: #fff;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.testimonial{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}

.fifth-box h1{
    margin-top: 200px;
}

.emily-pics, .thomas-pics, .jennie-pics{
    border-radius: 50%;
    width: 70px;
    margin-bottom: 60px;
}

.emily p, .thomas p, .jennie p{
    margin-bottom: 70px;
}

.emily h4, .thomas h4, .jennie h4{
        margin-bottom: 10px;
}


.img-boxes{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 70px;
    padding: 0;
    overflow: hidden;
}


.sixth-box1{
    width: 25%;
    height: 600px;
    background-image: url(./assets/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.sixth-box2{
    width: 25%;
    height: 600px;
    background-image: url(./assets/desktop/image-gallery-orange.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.sixth-box3{
    width: 25%;
    height: 600px;
    background-image: url(./assets/desktop/image-gallery-cone.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.sixth-box4{
    width: 25%;
    height: 600px;
    background-image: url(./assets/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.last-box{
    width: 100%;
    height: 400px;
    background-color: hsl(168, 34%, 41%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center ;
}

.last-box{
    text-align: center
}

.last-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin: 0 auto;

}

.footer-logo{
    color:  hsl(167, 40%, 24%);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 50px;
}

.last-cont ul{
    display: flex;
    text-align: center;
    list-style: none;
    gap: 5em;
    margin: 0 auto 100px auto;
}

.last-cont ul li a{
    text-decoration: none;
    color:  hsl(167, 40%, 24%);
    font-size: 18px;
    font-weight: 600;
   
}


.last-cont a:hover{
    color: #fff;
}

.facebook, .instagram, .twitter, .pinterest {
    margin-left: 1.5em;
    width: 30px;
}

.social-icon a{
    display: inline-block;
}

.social-icon a:hover img{
    filter: brightness(0) invert(1);
}